[Desktop Entry]
Type=Application
Version=1.0
Name=Umamo
GenericName=2D Puppet Modelling Editor
GenericName[ja]=2Dパペット モデリングエディター
Comment=Model 2D puppets in the Live2D Ecosystem
Comment[ja]=Live2Dエコシステムにおける2Dパペットのモデリング
Exec=APPLICATION_LAUNCHER %f
Icon=APPLICATION_ICON
Terminal=false
Categories=Graphics;2DGraphics;
MimeType=application/vnd.umamo.uma+zip;
StartupWMClass=org-umamo-editor-desktop-MainKt
